:root {
  --tab-border-bottom-color: #fff;
}

/* Code comment style */
.mtk3 {
    font-family: 'Cascadia Mono', monospace !important;
}

/* Side bar */
.part.sidebar {
    box-shadow: 20px 50px rgba(12, 12, 12, 0.25);
}

.codicon-toolbar-more, .codicon-word-wrap {
    display: block !important;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}

/* File Explorer Selected Item */
.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: transparent !important;
    opacity: 1 !important;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: 1 !important;
}

/* File explorer action buttons */
.monaco-workbench .part.sidebar .title-actions .actions-container {
    display: none;
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
    font-family: 'Cascadia Mono', monospace !important;
    font-size: 12.5px !important;
    letter-spacing: -0.4px;
}

/* Sidebar title */
.composite.title {
    margin: -10px 0px 4px 10px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-items: center !important;
}

.composite.title h2 {
    font-family: 'Consolas', monospace !important;
    font-weight: bolder !important;
    font-size: 14px !important;
    letter-spacing: -0.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7) !important;
}

.composite.title h2::before {
    display: inline-block;
    margin-right: 1px;
    font-size: 1.1rem;
    content: '📁';
}

/* Sidebar items */
.monaco-icon-label::after {
  margin-left: 20px;
}

.monaco-icon-label-container {
  flex: none !important;
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
    border: none !important;
    background: transparent !important;
}

/* Search Label */
.search-label {
    font-family: 'Cascadia Mono', monospace !important;
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.2) !important;
    display: block;
}

/* Search icon */
.search-icon {
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.4) !important;
}

/* .codicon-search::before {
    display: none !important;
} */

.codicon-arrow-right, .codicon-arrow-left {
    display: none !important;
}

.titlebar-right > * {
    display: none !important;
}

/* Seperator */
.monaco-split-view2.separator-border>.monaco-scrollable-element>.split-view-container>.split-view-view:not(:first-child):before {
    background-color: transparent !important;
    content: " ";
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 5;
}

/* Tabbar */
.tabs {
  font-family: 'Cascadia Mono', monospace !important;
  margin: -10px 0px 14px 20px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    background-color: var(--vscode-tab-unfocusedInactiveBackground);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: var(--editor-group-tab-height);
    padding-left: 4px;
    position: relative;
    white-space: nowrap;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit .monaco-icon-label, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit .monaco-icon-label>.monaco-icon-label-container {
    overflow-x: visible;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label a, .monaco-workbench .part.editor>.content .editor-group-container>.title .title-label a {
    font-size: 12px;
}

.monaco-icon-label:before {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    height: 10px;
    line-height: inherit !important;
    padding-right: 2px;
    width: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    flex-shrink: 0;
    vertical-align: top;
}

.monaco-icon-label::after {
    margin-left: 8px;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab>.tab-actions .action-label.codicon {
    color: inherit;
    font-size: 14px;
    height: 14px;
    padding: 2px;
    width: 14px;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.active {
    color: var(--vscode-tab-focusedActiveForeground);
    height: 32.4px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active {
    color: var(--vscode-tab-unfocusedActiveForeground);
    height: 32.4px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-actions {
    margin-bottom: auto;
    margin-top: 8px !important;
    width: 25px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab>.tab-actions {
    margin-bottom: auto;
    margin-top: auto;
    width: 25px;
}


.show-file-icons .json-lang-file-icon.file-icon::before, .show-file-icons .jsonc-lang-file-icon.file-icon::before, .show-file-icons .json5-lang-file-icon.file-icon::before, .show-file-icons .json-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .jsonc-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .tsbuildinfo-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .json5-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .jsonl-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .ndjson-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.jscsrc-name-file-icon.name-file-icon.jscsrc-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.jshintrc-name-file-icon.name-file-icon.jshintrc-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .composer\.lock-name-file-icon.name-file-icon.lock-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.jsbeautifyrc-name-file-icon.name-file-icon.jsbeautifyrc-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.esformatter-name-file-icon.name-file-icon.esformatter-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .cdp\.pid-name-file-icon.name-file-icon.pid-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.lintstagedrc-name-file-icon.name-file-icon.lintstagedrc-ext-file-icon.ext-file-icon.file-icon::before, .show-file-icons .\.whitesource-name-file-icon.name-file-icon.whitesource-ext-file-icon.ext-file-icon.file-icon::before {
    margin-top: auto;
    margin-bottom: auto;
    content: '\2001';
    background-image: url(vscode-file://vscode-app/c:/Users/Admin/.vscode/extensions/pkief.material-icon-theme-5.11.1/icons/json.svg);
}

.monaco-icon-label {
  display: flex;
  align-items: center;
}
